<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Short Workout</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<script th:inline="javascript">
    /*<![CDATA[*/

    //input from query parameter
    let workoutHasStartedInputFromHtmlQueryParam = /*[[${started}]]*/ false;

    //programmatic (hard coded) inputs
    let workoutMinutes = 0;
    let workoutSeconds = 7;
    let prepSeconds = 5;

    let workoutHasNotStartedState = {state: false, text: "Start"};
    let workoutHasStartedState = {state: true, text: "Stop"};

    let workoutState = workoutHasNotStartedState;
    if (workoutHasStartedInputFromHtmlQueryParam) {
        workoutState = workoutHasStartedState;
    }
    startButtonText = workoutState.text;

    function toggleWorkoutStartStop() {
        if (workoutState.state === false) {
            workoutState = workoutHasStartedState;
        } else {
            workoutState = workoutHasNotStartedState;
        }
        document.getElementById("startButton").innerHTML = workoutState.text;
    }

    function beep(vol=100, freq=520, duration=200){
        let a = new AudioContext()
        let v=a.createOscillator()
        let u=a.createGain()
        v.connect(u)
        v.frequency.value=freq
        v.type="square"
        u.connect(a.destination)
        u.gain.value=vol*0.01
        v.start(a.currentTime)
        v.stop(a.currentTime+duration*0.001)
    }

    function handleWorkoutTimer(workoutMinutes, workoutSeconds) {
        let resultMinutes = workoutMinutes;
        let resultSeconds = workoutSeconds;
        let resultDone = false;
        let display = workoutMinutes + ":" + workoutSeconds;
        if (workoutMinutes <= 0) {
            display = workoutSeconds;
        }
        document.getElementById("exerciseTimer").innerHTML = display;
        if (workoutSeconds > 0) {
            if (resultSeconds > 0 && resultSeconds <= 3 && resultMinutes === 0) {
                beep();
            }
            resultSeconds--;
            if(resultSeconds === 0 && resultMinutes > 0) {
                resultMinutes--;
                resultSeconds = 60;
            }
        } else {
            document.getElementById("exerciseTimer").innerHTML = "Done" ;
            resultDone = true;
        }
        return {resultMinutes, resultSeconds, resultDone};
    }

    function handlePrepTimer(prepSeconds) {
        let result = prepSeconds;
        document.getElementById("prepTimer").innerHTML = "Starting in "+prepSeconds+"...";
        if (result > 0) {
            if (result > 0 && result <= 3) {
                beep();
            }
            result--;
        } else {
            document.getElementById("prepTimer").innerHTML = "Go!" ;
            //auto-transition to prepare page here
        }
        return result;
    }

    window.onload = function() {
        let workoutDone = false;
        document.getElementById("startButton").innerHTML = workoutState.text;

        setInterval(function() {
            if (workoutState.state === true) {
                if (prepSeconds === 0) {
                    let workoutTimerResponse = handleWorkoutTimer(workoutMinutes, workoutSeconds)
                    workoutMinutes = workoutTimerResponse.resultMinutes;
                    workoutSeconds = workoutTimerResponse.resultSeconds;
                    workoutDone = workoutTimerResponse.resultDone;
                    if (workoutDone) {
                        let workoutInstanceId = /*[[${workoutInstanceId}]]*/ "unknown";
                        let currentExerciseName = /*[[${nextExercise.name}]]*/ "unknown";
                        window.location = "shortWorkout.html?workoutInstanceId=" + workoutInstanceId + "&currentExerciseName=" + currentExerciseName + "&started=true"
                    }
                } else {
                    prepSeconds = handlePrepTimer(prepSeconds)
                }
            }
        },1000);
    }
    /*]]>*/
</script>

<body>
<div class="container my-2" align="center">

    <h2 th:text="${nextExercise.name}">Next Exercise Name</h2>
    <img th:src="${nextExercise.image}" width="600" height="600" alt="exercise">
    <h2><span id="prepTimer">Prep Timer</span></h2>
    <h2><span id="exerciseTimer">Workout Timer</span></h2>
    <button id="startButton" onclick="toggleWorkoutStartStop()" style="height:170px;width:270px">Start</button>

</div>



</body>
</html>
