<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Short Workout</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<script th:inline="javascript">
    /*<![CDATA[*/

    //input from query parameter
    let workoutHasStartedInputFromHtmlQueryParam = /*[[${started}]]*/ false;

    //programmatic (hard coded) inputs
    const workoutMinutesInput = 0;
    const workoutSecondsInput = 7;
    const prepSecondsInput = 5;

    playAudio("stop");

    //these are managed by the script
    let workoutMinutes = workoutMinutesInput;
    let workoutSeconds = workoutSecondsInput;
    let prepSeconds = prepSecondsInput;

    let workoutHasNotStartedState = {state: false, text: "Start"};
    let workoutHasStartedState = {state: true, text: "Stop"};

    let workoutState = workoutHasNotStartedState;
    if (workoutHasStartedInputFromHtmlQueryParam) {
        workoutState = workoutHasStartedState;
    }
    startButtonText = workoutState.text;

    function toggleWorkoutStartStop() {
        if (workoutState.state === false) {
            workoutState = workoutHasStartedState;
            beep("high"); //beep when Start button is clicked for us to start
        } else {
            workoutState = workoutHasNotStartedState;
        }
        document.getElementById("startButton").innerHTML = workoutState.text;
    }

    function beep(lowOrHighString="low"){
        let low = 520
        let high = 750
        let freq = low
        if (lowOrHighString !== "low") {
            freq = high
        }
        let duration = 200
        let a = new AudioContext()
        let v=a.createOscillator()
        let u=a.createGain()
        v.connect(u)
        v.frequency.value=freq
        v.type="square"
        u.connect(a.destination)
        //u.gain.value=vol*0.01
        v.start(a.currentTime)
        v.stop(a.currentTime+duration*0.001)
    }

    function playAudio(word) {
        let audio = new Audio(`../${word}.wav`);
        audio.play();
    }

    function handleWorkoutTimer(workoutMinutesParam, workoutSecondsParam) {
        if (workoutSecondsInput === workoutSecondsParam && workoutMinutesInput === workoutMinutesParam) {
            playAudio("begin");
        }
        let resultMinutes = workoutMinutesParam;
        let resultSeconds = workoutSecondsParam;
        let resultDone = false;
        let display = workoutMinutesParam + ":" + workoutSecondsParam;
        if (workoutMinutesParam <= 0) {
            display = workoutSecondsParam;
        }
        document.getElementById("exerciseTimer").innerHTML = display;
        if (workoutSecondsParam > 0 || workoutMinutesParam > 0) {
            if (resultSeconds > 0 && resultSeconds <= 3 && resultMinutes === 0) {
                //beep("low");
                playAudioNumber(workoutSecondsParam);
            }
            resultSeconds--;
            if(resultSeconds === 0 && resultMinutes > 0) {
                resultMinutes--;
                resultSeconds = 60;
            }
        } else {
            document.getElementById("exerciseTimer").innerHTML = "Done" ;
            resultDone = true;
        }
        return {resultMinutes, resultSeconds, resultDone};
    }

    function playAudioNumber(n) {
        if (n === 1) {
            playAudio("one");
        } else if (n === 2) {
            playAudio("two");
        } else {
            playAudio("three");
        }
    }

    function handlePrepTimer(prepSeconds) {
        let result = prepSeconds;
        document.getElementById("prepTimer").innerHTML = "Starting in "+prepSeconds+"...";
        if (result > 0) {
            if (result > 0 && result <= 3) {
                //beep("low");
                playAudioNumber(prepSeconds);
            }
            result--;
        }
        return result;
    }

    window.onload = function() {
        let workoutDone = false;
        document.getElementById("startButton").innerHTML = workoutState.text;

        setInterval(function() {
            if (workoutState.state === true) {
                if (prepSeconds === 0) {
                    document.getElementById("prepTimer").innerHTML = "Go!" ;
                    let workoutTimerResponse = handleWorkoutTimer(workoutMinutes, workoutSeconds)
                    workoutMinutes = workoutTimerResponse.resultMinutes;
                    workoutSeconds = workoutTimerResponse.resultSeconds;
                    workoutDone = workoutTimerResponse.resultDone;
                    if (workoutDone) {
                        let workoutInstanceId = /*[[${workoutInstanceId}]]*/ "unknown";
                        let currentExerciseName = /*[[${nextExercise.name}]]*/ "unknown";
                        window.location = "shortWorkout.html?workoutInstanceId=" + workoutInstanceId + "&currentExerciseName=" + currentExerciseName + "&started=true"
                    }
                } else {
                    prepSeconds = handlePrepTimer(prepSeconds)
                }
            }
        },1000);
    }
    /*]]>*/
</script>

<body>
<div class="container my-2" align="center">

    <h2 th:text="${nextExercise.name}">Next Exercise Name</h2>
    <img src = "https://i.pinimg.com/originals/e3/68/12/e36812ffa8170849b3fd854ae760294a.gif" th:src="${nextExercise.image}" width="350" height="350" alt="exercise">
    <h2><span id="prepTimer">Prep Timer</span></h2>
    <h2><span id="exerciseTimer">Workout Timer</span></h2>
    <button id="startButton" onclick="toggleWorkoutStartStop()" style="min-height:100px;min-width:200px">Start</button>

</div>



</body>
</html>
